<form class="login-form">
  <div>
    <label for="username-login">USERNAME:</label>
    <input type="text" id="username-login" />
  </div>
  <div>
    <label for="password-login">PASSWORD:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">LOGIN</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">USERNAME:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">PASSWORD:</label>
    <input type="text" id="passowrd-signup" />
  </div>
  <div>
    <button type="submit">SIGNUP</button>
  </div>
</form>

<script src="/javascript/login.js"></script>